.galery{
  padding:20px 0;
}

.galery-grid{
  display:grid;
  grid-template-columns:repeat(3, 1fr);

  gap:8px;
}

.galery-grid img{
  width:100%;

  aspect-ratio:9/16;

  object-fit:cover;

  border-radius:16px;

  display:block;
}
