/* SECTION */
.program{
  width:100%;
  padding:18px 0;
}

/* GRID */
.program-grid{
  display:grid;

  grid-template-columns:repeat(3, 1fr);

  gap:8px;
}

/* IMAGE */
.program-grid img{
  width:100%;

  aspect-ratio:9/16;

  object-fit:cover;

  border-radius:16px;

  display:block;

  transition:.25s ease;
}

/* LAPTOP / PC */
@media (min-width:900px){

  .program-grid{
    grid-template-columns:
    repeat(auto-fit, minmax(180px, 1fr));
  }

}
